<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Home</title>
    </head>

    <body>
        <h1 class='center-text'> Results for <%= runs %> SQL queries</h1>

        <h2 class='center-text'> Queries include aggregation, cross joins, function calls, and full joins <br>on a small testing schema with 300 rows of data. </h2>

        <h2 class='center-text'> Pure SQL Results (No Memcached) </h2>
        <p class='center-text'> Time taken: <%= sqlTime %> ms </p>
        <p class='center-text'> Rows Gathered: <%= sqlRows %> </p>


        <h2 class='center-text'> From Cache Results (With Memcached) </h2>
        <p class='center-text'> Time taken: <%= memTime %> ms </p>
        <p class='center-text'> Rows Gathered: <%= memRows %> </p>

        <%-include('partials/nav') %>
        <div class='flexbox'>
            <form action='/startTest' method='POST'>
                <input type='submit' value='Test again'>
            </form>
        </div>

    </body>
</html>

